.container {
	margin-top: 20px;
	margin-left: 300px;
	width: 255px;
	display: flex;
	flex-direction: column;
}

.twitterIcon {
	font-size: 45px;
	margin-left: -3px;
	padding: 20px;
	color: white;
}

.tweetButton {
	cursor: pointer;
	margin-top: 15px;
	height: 50px;
	width: 230px;
	padding: 10px 30px;
	background: #1da1f2;
	color: white;
	font-weight: 700;
	font-size: 15px;
	border: none;
	border-radius: 100px 100px 100px 100px;
}

.tweetModal {
	display: flex;
	justify-content: center;
	align-items: center;
}

.tweetModalContent {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	width: 800px;
	height: 300px;
	background-color: white;
}

.bottomProfileManagement {
	margin-left: -25px;
	position: fixed;
	bottom: 0;
	width: 255px;
	padding: 10px 3px 10px 10px;
	border-radius: 9999px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
	margin-bottom: 20px;
	cursor: pointer;
}

.bottomProfileManagement:hover {
	background-color: rgba(29, 161, 242, 0.1);
}

.nameAndHandle {
	color: white;
	margin-left: 5px;
}

.threeDots {
	color: white;
	margin-left: 30px;
}

.menu {
	margin-top: -70px;
	margin-left: 7px;
}

.accountMenu {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

/* .bottomArrow {
	transform: rotate(180deg);
} */