.TweetInput {
    min-height:100%;

    display: flex;
}

.textbox {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    overflow: hidden;
    box-sizing: border-box; 
    margin-top: 4%;
    background-color:  #15202b;
    color:white;
    font-size: 1.4em;
    border:none;
    resize: none; 
    text-align: left;
}