.TweetContentContainer {
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

.TweetText {
    text-align: start;
    padding:0;
}

.TweetTextContent {
    margin-top: 0%;
}