


.Tweetbox {
    min-width: 100%;
    min-height: 17vh;
    display:flex;


    border-top: grey;
    border-bottom: grey;
    border-left: grey;
    border-right:grey;
    border-style: solid;
    border-width: 1px;

}