
.TwitterFeed {


    border-top: grey;
    border-bottom: grey;
    border-left: grey;
    border-right:grey;
    border-style: solid;
    border-width: 1px;

    padding-right: 2px;
    background-color: #15202b;
    width: 37%;
    height: 100vh;
    min-width: 600px;
}




.Tweetbox {

    width: 100%;
    min-height: 17vh;
    display:flex;
    background-color: #15202b;
    

    
    border-top: grey;
    border-bottom: grey;
    border-left: grey;
    border-right:grey;
    border-style: solid;
    border-width: 1px;

}