
.CoverPhoto {
    width: 100%;
    border-left:  rgb(105, 105, 105);
    border-right: rgb(105, 105, 105);
    border-top: #15202b;
    border-bottom: #15202b;

    border-style: solid;
    border-width: 1px;
}

.EditProfile {
    width:100%;
    display:flex;
    justify-content:end;    
}

.InteractContainer {
    width: 100%;
    display:flex;
    justify-content: right;
    flex-direction: row;
}
.InteractWithProfile {

    width: 32%;
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
}



.CircledIcon {
    color:#1da1f2;
    height: 2vw;
    width: 2vw;

    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    text-align: center;
    display: flex;



    border-width: 1px;
    border-style: solid;
    border-color: #1da1f2;
    border-radius: 100px 100px 100px 100px;
}

.CircledButton {
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    text-align: center;
    display: flex;


    border-width: 1px;
    border-style: solid;
    border-color: #1da1f2;
    border-radius: 100px 100px 100px 100px;
}

.EditButton {
    margin-top: 5px;
    margin-right: 3%;
    height: 40px;
    width: 18%;

    border-width: 1px;
    border-style: solid;
    border-color: #1da1f2;
    border-radius: 100px 100px 100px 100px;

    background-color: #15202b;

    color: #1da1f2;
    font-weight: 750;
    font-size: 14px;
}

.ProfileDataContainer { 

    padding-left: 10px;
    border-top:  #15202b;
    border-left:  rgb(105, 105, 105);
    border-right: rgb(105, 105, 105);
    border-bottom:  #15202b;
    border-style: solid;
    border-width: 1px;

}

.ProfilePhotoNameHandleContainer {
    margin-bottom: 10px;
    position: relative;
}
.Name {
    color: white;
    font-size: 18px;
    font-weight: 450;
}

.Handle {
    font-size: 14px;
    color: rgb(136, 153, 166);
}

.Bio {
    color: white;
    font-size : 14px;
}

.PersonalInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    

}

.LocationIcon {
    max-width: 10%;
    max-height: 10%;
}


.Info {
    color: rgb(136, 153, 166);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
}


.Follows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:25%
}

.FollowContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:16%;
}

.Amt {
    color:white;
    font-weight: 800;
}

.AmtOf {
    color: rgb(136, 153, 166);
    margin-left: 5px;
}


.ProfilePhoto {
    position: absolute;
    
    border-width: 3px;
    border-style: solid;
    border-color: #15202b;
    

    border-radius: 100px 100px 100px 100px;
    width: 25%;
    bottom: 100%;
}

.EditProfileModal {
    display: flex;
	justify-content: center;
    align-items: center;
   
}

.ModalContent {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	width: 800px;
	height: 300px;
    background-color: white;
}