* {
    box-sizing: border-box;
}

.Sidebar {
    
background-color: #ff0000;
width: calc(1.1em + 30vw);
height: 100vh;
float: left;
padding: 0%;
}

.Rightsidebar {
background-color: #ff0000;
width: calc(1.1em + 36vw);;
height: 100vh;
float: right;
padding: 0%;
}