
.TwitterFeed {

background-color: grey;
width: 31.386vw;
height: 100vh;
float: left;
padding: 0%;
}

.HomeTopBar {
    height: 5vh;
    background-color: grey;
    border-color: black;
    border-width: 2px;
}

#HomeText {
    color:white;
    font-size: 1.1em;
    padding-left: 1.5vh;
}